/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */
/* .box {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0C3B1BFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box h1{
    font-size: 100px;
    margin-top: -100px;
    margin-left: -400px;
}
.box p {
    margin-left: -400px;
} */
/* .box2{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-div {
    width: 400px;
    height: 150px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0C3B1BFF;
    color: white;
  
    clip-path: polygon(
      0 0,      
      85% 0,    
      100% 50%, 
      85% 100%, 
      0 100%    
    );
  }
  .box2 .hg {
    font-size: 100px;
    margin-top: -50px;
  }
  .d{
    font-size: 20px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box2 .d p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
  } */
  /* .box3 {
    width: 98%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #0C3B1BFF;
    color: white;
    margin-bottom: 15px;
  }
  .box3 h1{
    position: absolute;
    font-size: 60px;
    top: 70px;
    left: 50px;
  }
  .box3 .p {
    margin-top: 100px;
  }
    .box3 .p  p{
        font-size: 20px;
        width: 750px;
        height: 120px;
        margin-top: 5px;
    } */
    /* .box4{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box4 .text{
        width: 60%;
        height: 90%;
        background-color: #0C3B1BFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: #C4AB45FF;
        position: relative;
    }
    .box4 .text h1 {
        font-size: 100px;
        position: absolute;
        top: 25px;
        left: 50px;
    }
    .box4 .text p {
        font-size: 35px;
        position: absolute;
        top: 130px;
        left: 60px;
    }
    .box4 .text h2 {
        font-size: 70px;
        width: 300px;
        margin-top: 150px;
        margin-left: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .box4 .img{
        width: 35%;
        height: 80%;
        margin-top: -140px;
    } */
    /* .box5 {
        width: 100%;
        height: 100vh;
        position: relative;
        background: #0C3B1BFF;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
    .box5 h1{
        font-size: 70px;
        margin-top: -300px;
        margin-left: 20px;
    }
    .box5 p {
        font-size: 40px;
        font-weight: bolder;
        margin-left: -610px;
        margin-top: 200px;
    }
    .box5 .imd{
        margin-right: 70px;
    } */
    /* .box6{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0C3B1BFF;
        color: white;
    }
    .box6 .ter{
        width: 70%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .box6 .ter h1 {
        font-size: 60px;
        margin-bottom: 50px;
        color: #C4AB45FF;
    }
    .box6 .ter .du {
        width: 70%;
        height: 50%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1F6B2BFF;
    }
    .box6 .imk {
        height: 200px;
        margin-left: -35px;
        margin-top: -630px;
    }
     */